.error {
    height: 100vh;
    width: 50%;
    margin: auto;
    padding-top: 15%;
}

.error h1{
    font-size: 64px;
}

.error a {
    color: white;
    font-size: 48px;
    text-decoration: underline;
}

@media screen and (max-width: 800px) {

    .error h1 {
        font-size: 48px;
    }

    .error a {
        font-size: 36px;
    }
}
